
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f9fc;
  color: #222;
  line-height: 1.6;
}


header {
  background: #f09595;
  color: #fff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

header h1 {
  font-size: 1.5rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin: 0 0.8rem;
  font-weight: 500;
}

nav a:hover {
  text-decoration: underline;
}


#hero {
  text-align: center;
  padding: 4rem 2rem;
  background: linear-gradient(135deg, #bbb3db, #5f788d);
  color: #fff;
}

#hero h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1.2rem;
  padding: 0.7rem 1.4rem;
  background: #fff;
  color: #5a3ef2;
  font-weight: bold;
  border-radius: 25px;
  text-decoration: none;
}

.btn:hover {
  background: #e0e0ff;
}


section {
  padding: 3rem 2rem;
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
  color: #5a3ef2;
}


.vision-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;

}

.vision-card {
  background: #fff;
  border-radius: 10px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}
.vision-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.project-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.project-card {
  background: #fff;
  border-radius: 10px;
  width: 300px;
  padding: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}


#contact a {
  color: #457c91;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}


footer {
  background: #7b5cf4;
  color: #fff;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}
